
<%=render :partial => "home/arbol"%>
  <!-- monitor -->
  <p><a href="link" class="boton" onClick="javascript:window.open('/audiencias/monitor','Windows','width=750,height=450,toolbar=no,menubar=no,scrollbars=yes,resizable=yes,location=no,directories=no,status=no');return false")">MONITOR</a></p>

  <!-- menu de busqueda -->
  <%=render :partial => "opciones_busqueda"%>
  <!-- Imprimir -->
  <%if @audiencias && @audiencias.size > 0%>
        <% form_for :audiencia, @audiencia, :url => { :action => "print_list.pdf", :audiencias_ids => @audiencias_ids }, :html => { :target => "_blank"} do -%>
          <div class="grid-center">
          <input type="submit" title="IMPRIMIR <%=@audiencias.size%> RESULTADOS" value="IMPRIMIR <%=@audiencias.size%> RESULTADOS" />
        </div>
    <%end%>
  <%end%>


  <!-- Contenido del listado -->
  <%=render :partial => "list_essentials"%>


<% if (!@audiencias.empty?) && (@audiencias.total_entries > @audiencias.per_page.to_i) %>
    <table>
      <tr align="center" >
        <td colspan="5" style="padding: 0;">
          <div class="digg_pagination">
            <div class="page_info">
              <%= page_entries_info @audiencias %>
            </div>
            <%= will_paginate @audiencias %>
          </div>
        </td>
      </tr>
  </table>
<%end%>


<br /><%=link_to "NUEVA ORIENTACION", {:action => "new_or_edit"}, :class => 'boton'  -%>



