<!-- arbol -->
<h3><%=link_to 'INICIO', {:controller => "home", :action => "index"}, :class => "arbol"-%> >> <%=link_to 'ADMINISTRACION', {:controller => "admin", :action => "index"}, :class => "arbol"-%> >> USUARIOS </h3>

<% form_tag({:action => "users_search"}, {:class => "search"}) do -%>
  <p>
    <%= text_field_tag :search, params[:search], :limit => 90, :placeholder => "Escriba el nombre del usuario" %>
    <%= submit_tag "Buscar", :name => nil %>
  </p>
<% end %>


<!-- contenido -->
<div id="divlista">
    <table width="80%" border="0" cellspacing="0" cellpadding="0" class="tablakolaval" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
      <tr>
        <td style="vertical-align: middle;">Login</td>
        <td style="vertical-align: middle;">Nombre</td>
        <td style="vertical-align: middle;">Última conexión</td>
        <td style="vertical-align: middle;">IP</td>
        <td style="vertical-align: center;">&nbsp;</td>
      </tr>
    <%clase=0%>
    <%@users.each do |user|%>
      <tr>
        <td style="vertical-align: middle;"><%=h(user.login)%></td>
        <td style="vertical-align: middle;"><%=h(user.persona)? user.persona.nombre_completo : ''%></td>
        <td style="vertical-align: middle;"><%=h(user.last_login)? user.last_login.strftime("%d de %B de %Y - %H:%M:%S") : "Sin conexión"%></td>
        <td  style="vertical-align: middle;"><%=h user.last_ip%></td>
        <%if current_user.has_role?(:admin)%>
            <td  style="vertical-align: middle;">
                <%= (user.activo) ?  (link_to 'Bloquear usuario', { :action => "change_user_estatus", :controller => "admin", :id => user, :t => @token, :back => "show_users"}, {:title => "Bloquear usuario", :class => 'boton'}, :confirm => '¿Esta seguro?', :method => :post)  : (link_to 'Reactivar usuario', { :action => "change_user_estatus", :controller => "admin", :id => user, :t => @token, :back => "show_users"}, {:title => "Reactivar usuario", :class => 'boton'}, :confirm => '¿Esta seguro?', :method => :post) %>
            </td>
        <%end%>
      </tr>
    <%end%>
  </table>
</div>


<br />
<table>
    <tr align="center" >
      <td colspan="5" style="padding: 0;">
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @users %>
          </div>
          <%= will_paginate @users %>
        </div>
      </td>
    </tr>
</table>


<%if current_user.has_role?("admin")%>
  <br /><%=link_to "Crear usuario", {:action => "new", :controller => "users", :id => @token}, :class => 'boton'  -%>
<%end%>