<%=render :partial => "home/arbol"%>


<div class="container">

 <% form_for :user, @user, :url => { :action => "create", :controller => "users", :id => @user}, :html => {:class => "formee"} do |f| -%>
  <fieldset>
    <legend>&nbsp;REGISTRO&nbsp;DE&nbsp;USUARIO</legend>
      <div class="grid-12-12">
          <% @user.password = @user.password_confirmation = nil %>
      </div>

     <!-- Barra de busqueda de persona -->
      <%=render :partial => "home/search_per_curp"%>

      <div class="grid-12-12"><img alt="spinner" id="spinner" src="/images/loading_spinner.gif" style="display:none;" /></div>

      <div id="datos_personales">
        <%if @persona%>
            <%=render :partial => "home/datos_personales"%>
        <%end%>
      </div>

  </fieldset>

  <fieldset>
    <legend>INFORMACION&nbsp;DE&nbsp;LA&nbsp;CUENTA</legend>
     <div class="grid-6-12">
        <div class="grid-4-12">
          <label><b>LOGIN: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-8-12">
          <%=f.text_field :login%>
        </div>
       </div>

      <div class="grid-6-12">
        <div class="grid-4-12">
          <label><b>CORREO ELECTRONICO: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-8-12">
          <%= f.text_field :email %>
        </div>
       </div>

      <div class="grid-6-12">
        <div class="grid-4-12">
          <label><b>CONTRASEÑA: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-8-12">
          <%= f.password_field :password %>
        </div>
       </div>

       <div class="grid-6-12">
        <div class="grid-4-12">
          <label><b>CONFIRMACIÓN DE LA CONTRASEÑA: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-8-12">
          <%= f.password_field :password_confirmation %>
        </div>
       </div>

      <div class="grid-8-12">
          <div class="grid-2-12">
            <label><b>ADSCRIPCION: </b><em class="formee-req">*</em></label>
          </div>
         <div class="grid-10-12">
            <%= f.select(:adscripcion_id, Adscripcion.all.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
          </div>
      </div>
    
   <div class="grid-4-12">
        <div class="grid-4-12">
          <label><b>¿ACTIVO?: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-8-12">
                  <span class="InputGroup">
                   <label class="uper">SI <%= f.radio_button :activo, "SI", :checked => @user.activo %></label>&nbsp;&nbsp;
                   <label class="uper">NO <%= f.radio_button :activo, "NO", :checked => @user.activo == false %></label>
                  </span>
       </div>
      </div>

      <div class="grid-12-12 clear"></div>


      <!-- Portal de Litigantes -->

      
       <div class="grid-12-12">
            <fieldset>
        <legend>PORTAL&nbsp;DE&nbsp;LITIGANTES</legend>
         <div class="grid-10-12">
            <div class="grid-4-12">
              <label><b>NOMBRE DE USUARIO EN PORTAL DE LITIGANTES: </b><em class="formee-req">*</em></label>
            </div>
            <div class="grid-8-12">
              <%= f.text_field :nombre_usuario_litigantes%>
            </div>
          </div>

          <div class="grid-10-12">
            <div class="grid-4-12">
              <label><b>CONTRASEÑA EN PORTAL DE LITIGANTES: </b><em class="formee-req">*</em></label>
            </div>
            <div class="grid-8-12">
              <%= f.password_field :password_litigantes%>
            </div>
          </div>
      </fieldset>
       </div>

      <div class="grid-form-login">
        <input class="right" type="submit" title="GUARDAR" value="GUARDAR" />
      </div>
 </fieldset>
<%end%>
</div>

<!-- Validaciones -->
<script type="text/javascript">
   var login = new LiveValidation( 'user_login', {onlyOnSubmit: true} );
  var email = new LiveValidation( 'user_email', {onlyOnSubmit: true} );
  var per_curp = new LiveValidation( 'persona_per_curp', {onlyOnSubmit: true} );
  login.add( Validate.Presence );
  email.add( Validate.Presence );
  per_curp.add( Validate.Presence );
</script>


<%= observe_field 'persona_per_curp',
    :on => "change",
    :before => "Element.show('spinner')",
    :success => "Element.hide('spinner')",
    :url => {:action => 'get_datos_personales',
    :action => 'get_datos_personales',
    :controller => 'home'},
    :update => 'datos_personales',
    :with => "persona_per_curp"%>
    







