<script type="text/javascript">
$j(document).ready(function() {

       $j('#tramite_fechahora_asistencia').datetimepicker({
          dayOfWeekStart : 1,
          buttonImage: "/images/icons/calendar.gif",
          lang:'es'
        });

        $j('#tramite_fechahora_recepcion').datetimepicker({
          dayOfWeekStart : 1,
          buttonImage: "/images/icons/calendar.gif",
          lang:'es'
        });

        $j('#tramite_fechahora_atencion').datetimepicker({
          dayOfWeekStart : 1,
          buttonImage: "/images/icons/calendar.gif",
          lang:'es'
        });

  });
</script>

<div class="grid-12-12">
        <div class="grid-4-12">
            <label><b>UNIDAD DE ATENCIÓN DE LA FISCALIA: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-8-12">
          <%= select :tramite, :fiscalia_id, @fiscalias.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true }%>
        </div>
</div>

 <div class="grid-4-12">
        <div class="grid-6-12">
          <label><b>FECHA/HORA DE RECEPCIÓN: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-6-12"><%=text_field :tramite, :fechahora_recepcion, :onload => "alert('show');"%></div>
  </div>

  <div class="grid-4-12">
        <div class="grid-6-12">
          <label><b>FECHA/HORA DE ASISTENCIA: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-6-12"><%=text_field  :tramite, :fechahora_asistencia%></div>
  </div>

  <div class="grid-4-12">
        <div class="grid-6-12">
          <label><b>FECHA/HORA DE ATENCIÓN: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-6-12"><%=text_field  :tramite, :fechahora_atencion%></div>
  </div>

   <div class="grid-12-12">
        <div class="grid-4-12">
          <label><b>CALIFICACION DE CONTROL DE DETENCIÓN: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-8-12"><%=text_field  :tramite, :calificacion_de_control_detencion%></div>
   </div>

   <div class="grid-12-12">
        <div class="grid-4-12">
            <label><b>CALIFICACIÓN JURÍDICA: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-8-12"><%=text_field  :tramite, :calificacion_juridica%></div>
   </div>

   


    <div class="grid-12-12">
        <div class="grid-4-12">
            <label><b>OBSERVACIONES: </b></label>
        </div>
        <div class="grid-8-12"><%=text_area  :tramite, :observaciones%></div>
    </div>


<!-- Validaciones -->
<script type="text/javascript">
  var tramite_fechahora_atencion = new LiveValidation( 'tramite_fechahora_atencion', {onlyOnSubmit: true} );
  tramite_fechahora_atencion.add( Validate.Presence );
</script>