<%= stylesheet_link_tag "encabezados.css"%>

<%if @tramite%>
  <table class="encabezado" style="width: 60%" style=" background-color: #FFF6BF; ">
    <tr>
      <td><b>REGISTRO DE ATENCIÓN :</b><%=h @tramite.registro_atencion%></td>
      <td><b>CARPETA DE INVESTIGACIÓN:</b> <%=h @tramite.carpeta_investigacion%></td>
    </tr>
    <tr>
      <td><b>CAUSA PENAL: </b><%=h @tramite.causa_penal%></td>
      <td><b>NUC: </b><%=h @tramite.nuc%></td>
    </tr>
  </table>
  <br />
<%end%>
