<%=render :partial => "home/arbol"%>

<% form_tag({:action => "search"}, {:class => "search"}) do -%>
  <p>
    <%= text_field_tag :search, params[:search], :limit => 60, :placeholder => "Escriba el número único de caso o carpeta de investigación" %>
    <%= submit_tag "Buscar", :name => nil %>
  </p>
<% end %>

<!-- contenido -->
<div id="divlista">
    <table width="76%" border="0" cellspacing="0" cellpadding="0" class="tablakolaval" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; margin: auto;">
    <tr>
       <th style="vertical-align: middle;">Folio</th>
       <th style="vertical-align: middle;">Fecha/hora atención</th>
       <th style="vertical-align: middle;">NUC</th>
       <th style="vertical-align: middle;">Carpeta de investigación</th>
       <th style="vertical-align: middle;">Causa Penal</th>
       <th style="vertical-align: middle;">Defensor</th>
       <th style="vertical-align: middle;" colspan="4">&nbsp;</th>
    </tr>
    <%@tramites.each do |t|%>
    <tr>
     <td style="vertical-align: middle;"><%=t.numero_tramite%></td>
     <td style="vertical-align: middle;"> <%=(t.fechahora_atencion) ? t.fechahora_atencion.strftime("%d de %B de %Y / %H:%M %p") : ''%></td>
     <td style="vertical-align: middle;"><%=t.nuc%></td>
     <td style="vertical-align: middle;"><%=t.carpeta_investigacion%></td>
     <td style="vertical-align: middle;"><%=t.causa_penal%></td>
     <%if t.defensor_id.nil?%>
        <td style="vertical-align: middle;"><%=link_to "ASIGNAR DEFENSOR", {:action => "new_or_edit", :id => t}, :class => 'boton'  -%></td>
     <%else%>
        <td><%=h (t.defensor && t.defensor.persona)? t.defensor.persona.nombre_completo : "--"%></td>
     <%end%>
     <td style="vertical-align: middle;"><%=link_to "EDITAR", {:action => "new_or_edit", :id => t}, :class => 'boton'  -%></td>
     <td style="vertical-align: middle;"><%=link_to "MENU", {:action => "menu", :id => t}, :class => 'boton'  -%></td>
     <td style="vertical-align: middle;"><%=link_to "DETALLE", {:action => "show", :id => t}, :class => 'boton'  -%></td>
     <td style="vertical-align: middle;"><%=link_to "ELIMINAR", {:action => "destroy", :id => t}, :confirm => '¿Desea eliminar el registro?', :class => 'boton'  -%></td>
    </tr>
    <%end%>
  </table>
</div>

<br />
<table>
    <tr align="center" >
      <td colspan="5" style="padding: 0;">
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @tramites %>
          </div>
          <%= will_paginate @tramites %>
        </div>
      </td>
    </tr>
</table>

<br /><%=link_to "REGISTRAR NUEVO TRAMITE", {:action => "new_or_edit"}, :class => 'boton'  -%>



