<%=render :partial => "home/arbol"%>

<table class="tabla_dp">
  <tr>
    <th colspan="5" style="text-align: center;">MODIFICACIONES</th>
  </tr>
  <tr>
    <td>Modificado por:</td>
    <td>Fecha/hora de modificación</td>
    <td>Campo</td>
    <td>Valor Anterior</td>
    <td>Nuevo valor</td>
  </tr>

  <%@tramite.modificacions.each do |row|%>
  
        <% row.modificacion_detalles.each do |detail|%>
          <tr>
            <td><%=h (row.user_id) ? User.find(row.user_id).nombre_completo : ''%></td>
            <td><%=h (row.created_at) ? row.created_at.strftime("%d/%m/%Y - %H:%M:%S") : ''%></td>
            <td><%=h detail.campo%></td>
            <td><%=h detail.valor_anterior%></td>
            <td><%=h detail.valor_nuevo%></td>
         </tr>
        <%end%>
  
<%end%>
</table>


