<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Inicio de Sesión del Sistema del Instituto de la Defensoría Pública</title>
  <%= stylesheet_link_tag "login"%>
  <%= stylesheet_link_tag "notificaciones"%>
</head>


<body onload="document.getElementById('login').focus()" style="background-color: white;">
     <div class="centered">
        <table width="1024px" align="center">
          <tr>
              <th align="center"> <%=image_tag("login/logo-pjech.png", :border => 0)%></th>
          </tr>

          <tr><th style="height:12px">&nbsp;</th></tr>

          <!--linea -->
          <tr>
            <th><hr class="LineaHorizontal" /></th>
          </tr>
          

          <tr>
            <th class="TituloInicioSesion">INICIAR SESIÓN</th>
          </tr>
         

           <!--linea -->
          <tr>
            <th><hr class="LineaHorizontal" /></th>
          </tr>

           <tr><th style="height: 4px">&nbsp;</th></tr>

           <%if flash[:error]%>
              <tr><th style="height: 4px" class="msg-error"><%=flash[:error]%></th></tr>
           <%end%>

          <!-- inicia form -->
          <% form_tag session_path do -%>
            <tr align="center">
              <td>
              <%= text_field_tag 'login', @login, :class => "TextBoxInicioSesion", :placeholder => "NOMBRE DE USUARIO" %>
              </td>
            </tr>

             <tr><th style="height: 2px">&nbsp;</th></tr>

             <tr align="center">
              <td><%= password_field_tag 'password', nil, :class => "TextBoxInicioSesion", :placeholder => "CONTRASEÑA"%></td>
            </tr>

             <tr><th style="height: 2px">&nbsp;</th></tr>

            <!-- boton de entrar-->
            <tr align="center">
              <td>
               <input type="submit"  class="BotonEntrar" value="ENTRAR"/>
              </td>
            </tr>
        <%end%>
      </table>
   </div>
  </body>
</html>




