<%=render :partial => "home/arbol"%>

<div id="divlista" width="60%">
  <table width="75%" border="0" cellspacing="0" cellpadding="0" class="tablakolaval" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; margin: auto;">
     <tr>
      <th colspan="2" style="text-align: center;">
          DATOS GENERALES
      </th>
     </tr>

     <tr>
       <td style="vertical-align: middle;"><b>Nombre:</b></td>
       <td style="vertical-align: middle;"><%=(@user.persona)? @user.persona.nombre_completo : '--'%></td>
    </tr>

    <tr>
       <td style="vertical-align: middle;"><b>Correo electrónico:</b></td>
       <td style="vertical-align: middle;"><%=@user.email%></td>
    </tr>

    
    <tr>
      <td style="vertical-align: middle;"><b>Fecha de registro:</b></td>
      <td style="vertical-align: middle;"><%=@user.created_at.strftime("%d-%m-%Y")%></td>
    </tr>

    <tr>
      <td style="vertical-align: middle;"><b>Ultima conexión:</b></td>
      <td style="vertical-align: middle;"><%=@user.last_login.strftime("%d-%m-%Y - %H:%M:%S")%></td>
    </tr>
  </table>
  <br />

  
  <table border="0" cellspacing="0" cellpadding="0" class="tablakolaval" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;width: 50%;margin: auto;">
     <tr>
      <th colspan="2" style="text-align: center;">
        PERFILES A LOS QUE PERTENECE
      </th>
     </tr>
     
     <%@user.roles.each do |role|%>
       <tr align="center">
         <td style="text-align: center;"><%=role.descripcion%></td>
       </tr>
     <%end%>

  </table>
</div>

