<%=render :partial => "layouts/notificaciones_acciones"%>

<div class="formee  container" style="font-size: 12px;">
<% form_for :audiencia, @audiencia, :url => { :action => "save", :controller => "audiencias_orales", :id => @audiencia, :t => @tramite, :token => "reprogramar"}, :html => {:class => "formee"} do |f| -%>
  <fieldset>
    <legend>&nbsp;REGISTRO&nbsp;DE&nbsp;AUDIENCIA&nbsp;</legend>
      <div class="grid-form">
          <%= error_messages_for :audiencia %>
      </div>

     <div class="grid-12-12">
        <div class="grid-4-12">
          <label><b>TIPO DE AUDIENCIA: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-8-12">
          <%= f.select(:tipo_audiencia_id, @tipos_audiencias.collect {|t| [ t.descripcion, t.id ] }, { :include_blank => true })%>
        </div>
       </div>

      <div class="grid-12-12">
        <div class="grid-4-12">
          <label><b>JUZGADO: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-8-12">
          <%= f.select(:organo_id, @organos.collect {|o| [ o.descripcion, o.id ] }, { :include_blank => true })%>
        </div>
       </div>

        <div class="grid-12-12">
        <div class="grid-4-12">
          <label><b>JUEZ: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-8-12">
          <%= f.select(:juez_id, @jueces.collect {|j| [ j.persona.nombre_completo, j.id ] }, { :include_blank => true })%>
        </div>
       </div>

        <div class="grid-12-12">
          <div class="grid-4-12">
            <label><b>DEFENSOR: </b><em class="formee-req">*</em></label>
          </div>
          <div class="grid-8-12">
            <%= f.select(:defensor_id, @defensores.collect {|d| [ d.persona.nombre_completo, d.id ] }, { :include_blank => true })%>
          </div>
        </div>

      <div class="grid-4-12">
        <div class="grid-6-12">
          <label><b>FECHA DE LA SOLICITUD: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-6-12"><%=f.text_field :fecha%></div>
      </div>

      <div class="grid-4-12">
        <div class="grid-6-12">
          <label><b>HORA: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-6-12"><%=f.select :hora, (0..23)%></div>
      </div>

      <div class="grid-4-12">
        <div class="grid-6-12">
          <label><b>MINUTOS: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-6-12"><%=f.select :minutos, (00..59)%></div>
      </div>

      <div class="grid-12-12">
        <div class="grid-4-12">
          <label><b>OBSERVACIONES: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-8-12"><%=f.text_area :observaciones%></div>
      </div>

       <div class="grid-12-12">
        <div class="grid-4-12">
          <label><b>MOTIVO POR EL CUAL SE REPROGRAMARÁ: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-8-12"><%=f.text_area :motivo_reprogramacion%></div>
      </div>

      <div class="grid-12-12">
        <input class="right" type="submit" title="GUARDAR" value="GUARDAR" />
      </div>
 </fieldset>
<%end%>
</div>

<!-- Validaciones -->
<script type="text/javascript">
  var tipo_audiencia_id = new LiveValidation( 'audiencia_tipo_audiencia_id', {onlyOnSubmit: true} );
  var motivo_reprogramacion = new LiveValidation( 'audiencia_motivo_reprogramacion', {onlyOnSubmit: true} );
  tipo_audiencia_id.add( Validate.Presence );
  motivo_reprogramacion.add( Validate.Presence );
</script>







