<%= stylesheet_link_tag "encabezados.css"%>

<%if @audiencia.cancel%>
    <p align="center">
      <%= link_to "Reactivar Audiencia" , {:controller => "audiencias_orales", :action => "reactivar_window", :id => @audiencia}, :title => "Cancelar audiencia", :confirm => '¿Esta seguro que quiere cancelar la audiencia?', :method => :post, :class => "boton" %><br />
    </p>

  <%else%>
      <p align="center">
        <%= link_to "Reprogramar Audiencia" , {:controller => "audiencias_orales", :action => "reprogramar", :id => @audiencia}, :title => "Reprogramar audiencia", :confirm => '¿Esta seguro que quiere reprogramar la audiencia?', :method => :post, :class => "boton" %> |
        <%= link_to "Cancelar Audiencia" , {:controller => "audiencias_orales", :action => "cancel_form", :id => @audiencia}, :title => "Cancelar audiencia", :confirm => '¿Esta seguro que quiere cancelar la audiencia?', :method => :post, :class => "boton" %><br />
      </p>
<%end%>


<%=render :partial => "tramites/encabezado"%>


<table class="encabezado">
  <tr>
    <td><b>FECHA/HORA:</b></td>
    <td><%=h (@audiencia.start_at) ? @audiencia.start_at.strftime("%d de %B de %Y / %H:%M %p") : nil%></td>
  </tr>
  <tr>
    <td><b>TIPO DE AUDIENCIA:</b></td>
    <td><%=h (@audiencia.tipo_audiencia)? @audiencia.tipo_audiencia.descripcion : "" %></td>
  </tr>
  <tr>
    <td><b>JUZGADO U ORGANO:</b></td>
    <td> <%=h (@audiencia.organo)? @audiencia.organo.descripcion : "" %></td>
  </tr>

  <tr>
    <td><b>JUEZ:</b></td>
    <td><%=h (@audiencia.juez && @audiencia.juez.persona)? @audiencia.juez.persona.nombre_completo : "" %></td>
  </tr>

  <tr>
    <td><b>DEFENSOR:</b></td>
    <td><%=h (@audiencia.defensor && @audiencia.defensor.persona)? @audiencia.defensor.persona.nombre_completo : "" %></td>
  </tr>

  <tr>
    <td><b>DESCRIPCION:</b></td>
    <td> <%=h @audiencia.descripcion %></td>
  </tr>

  <tr>
    <td><b>OBSERVACIONES:</b></td>
    <td><%=h @audiencia.observaciones %></td>
  </tr>

  <%if @audiencia.cancel%>
    <tr>
      <td><b>CANCELADA POR:</b></td>
      <td><%=h (@audiencia.usuario_cancelacion)? @audiencia.usuario_cancelacion.nombre_completo : '' %></td>
    </tr>
    
     <tr>
      <td><b>MOTIVO:</b></td>
      <td><%=h (@audiencia.motivo_cancelacion)? @audiencia.motivo_cancelacion : '' %></td>
    </tr>


  <%end%>

</table>





