<!--
      Vista que muestra el detalle del tramite
-->

<%=render :partial => "home/arbol"%>

<!-- Participantes -->
<%unless @participantes.empty?%>
    <table class="tablakolaval" style="margin: auto;">
      <tr>
        <th style="text-align:center;">Rol:</th>
        <th style="text-align:center;">Trámite:</th>
        <th style="text-align:center;">&nbsp;</th>
      </tr>

      <%@participantes.each do |p|%>
          <tr>
            <td><%=h (p.tipo_participante)? p.tipo_participante.descripcion : ''%></td>
            <td><%=h (p.tramite_id)? p.tramite.show_info : ''%></td>
            <td><%=h link_to "DETALLE", {:action => "show", :controller => "participantes", :id => p}, :class => "boton" %></td>
          </tr>
      <%end%>
    </table>
<%else%>

      <%unless @audiencias.empty?%>
          <!-- Lista de audiencias -->
          <p style="font-size: 160%;">LISTADO DE AUDIENCIAS</p>
          <%@audiencias.each do |a|%>
              <%=render :partial => "audiencias/show", :locals => { :a => a }%>
           <%end%>
      <%else%>
          <p class="titulocalendario">Persona sin actividad hasta el momento</p>
      <%end%>
<%end%><br />

