<%=render :partial => "home/arbol"%>

<div class="container">
<% form_for :persona, @persona, :url => { :action => "save", :controller => "personas", :id => @persona}, :html => {:class => "formee"} do |f| -%>
  <fieldset>
    <legend>&nbsp;EDITAR&nbsp;PERSONA&nbsp;</legend>
      <div class="grid-12-12">
          <%= error_messages_for :persona %>
      </div>
      <%=render :partial => "home/datos_personales"%>
      <div class="grid-12-12 clear"></div>
      <div class="grid-form-login">
        <input class="right" type="submit" title="GUARDAR" value="GUARDAR" />
      </div>
  </fieldset>
 <%end%>
</div>

<%= link_to 'Detalle', @persona %> |
<%= link_to 'Atrás', personas_path %>