<%=render :partial => "home/arbol"%>

<%if @ausencia && @persona%>

    <p>
      <b>Nombre completo:</b>
      <%=h @persona.nombre_completo %>
    </p>

    <p>
      <b>CURP:</b>
      <%=h @persona.per_curp %>
    </p>


    <p>
      <b>Inicio:</b>
      <%=h (@ausencia.inicio)? @ausencia.inicio.strftime("%de de %B de %Y - %H:%M"): '---'%>
    </p>

     <p>
      <b>Fin:</b>
      <%=h (@ausencia.fin)? @ausencia.fin.strftime("%de de %B de %Y - %H:%M") : '---'%>
    </p>

<%end%>


<%= link_to 'Editar', edit_ausencia_path(@ausencia) %> |
<%= link_to 'Atras', ausencia_path %>






