<!-- Live Validation -->
<%=javascript_include_tag "livevalidation/livevalidation_standalone.js" %>
<%= stylesheet_link_tag "livevalidation/validation.css" %>

<script type="text/javascript">
$j(document).ready(function() {
        $j('#tramite_fechahora_atencion').datetimepicker({
          dayOfWeekStart : 1,
          buttonImage: "/images/icons/calendar.gif",
          lang:'es'
        });

  });
</script>

  <div class="grid-12-12">
        <div class="grid-12-12">
            <label><b>NÚMERO DE EXPEDIENTE: <%=@tramite.numero_expediente%></b><em class="formee-req">*</em></label>
        </div>
       <div><%=hidden_field :tramite, :anio, :value => @anio%></div>
       <div><%=hidden_field :tramite, :folio_expediente, :value => @folio%></div>
  </div>



      <div class="grid-6-12">
        <div class="grid-4-12">
            <label><b>DEFENSOR PÚBLICO: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-8-12">
          <%= select(:tramite, :defensor_id, @defensores.collect {|p| [ p.persona.nombre_completo, p.id ] }, { :include_blank => true })%>
        </div>
      </div>

    <div class="grid-6-12">
        <div class="grid-4-12">
          <label><b>MATERIA: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-8-12">
          <%= select(:tramite, :materia_id, @materias.collect {|m| [ m.descripcion, m.id ] }, { :include_blank => true })%>
        </div>
     </div>


  <div class="grid-6-12">
        <div class="grid-8-12">
          <label><b>FECHA/HORA DE ATENCIÓN: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-4-12"><%=text_field  :tramite, :fechahora_atencion%></div>
  </div>

  <div class="grid-6-12">
        <div class="grid-4-12">
          <label><b>TIPO DE JUICIO: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-8-12">
          <%= select(:tramite, :tipo_juicio_id, @tipos_juicios.collect {|m| [ m.descripcion, m.id ] }, { :include_blank => true })%>
        </div>
  </div>

<!--
<div class="grid-6-12">
  <div class="grid-8-12">
    <label><b>¿ES UN CASO PRIORITARIO?: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-4-12">
    <span class="InputGroup" id="detenido_flagrancia">
      <label class="uper">SI <= radio_button :tramite, :es_urgente, true, :checked => @tramite.es_urgente %></label>&nbsp;&nbsp;
      <label class="uper">NO <= radio_button :tramite, :es_urgente, false, :checked => @tramite.es_urgente == false%></label>
    </span>
  </div>
</div>
-->

   
   <div class="grid-12-12">
        <div class="grid-4-12">
            <label><b>OBSERVACIONES: </b></label>
        </div>
        <div class="grid-8-12"><%=text_area  :tramite, :observaciones%></div>
    </div>

    <div id ="boton_guardar" class="grid-form-login">
      <input class="right" type="submit" title="GUARDAR" value="GUARDAR" />
    </div>


