<%=render :partial => "home/arbol"%>

<div class="container">

  <div class="grid-12-12">
    <%= error_messages_for :amparo %>
  </div>

<% form_for :amparo, @amparo, :url => { :action => "save", :controller => "amparos", :id => @amparo, :t => @tramite}, :html => {:multipart => true, :class => "formee"} do |f| -%>
  <fieldset>
    <legend>&nbsp;REGISTRO&nbsp;DE&nbsp;AMPAROS&nbsp;</legend>
      <div class="grid-12-12">
          <%= error_messages_for :amparo %>
      </div>

      <div class="grid-6-12">
        <div class="grid-6-12">
          <label><b>FECHA: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-6-12">
          <%=f.text_field :fecha%>
        </div>
      </div>

       <div class="grid-6-12">
        <div class="grid-6-12">
          <label><b>NÚMERO DE AMPARO: </b></label>
        </div>
        <div class="grid-6-12">
          <%= f.text_field(:num_amparo)%>
        </div>
      </div>


     <div class="grid-6-12">
        <div class="grid-6-12">
          <label><b>ACCION DEL AMPARO: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-6-12">
          <%= f.select(:accion_amparo_id, @acciones_amparos.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
        </div>
      </div>

     <div class="grid-6-12">
        <div class="grid-8-12">
          <label><b>TIPO DE AMPARO: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-4-12">
          <%= f.select(:tipo_amparo_id, @tipos_amparos.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
        </div>
      </div>

       <div class="grid-6-12">
        <div class="grid-8-12">
          <label><b>FASE DE AMPARO: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-4-12">
          <%= f.select(:fase_amparo_id, @fases_amparos.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
        </div>
      </div>

      <div class="grid-6-12">
        <div class="grid-6-12">
          <label><b>SENTIDO DE LA RESOLUCIÓN DEL AMPARO: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-6-12">
          <%= f.select(:sentido_resolucion_amparo_id, @sentidos_resoluciones_amparos.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
        </div>
      </div>

      <div class="grid-6-12">
        <div class="grid-4-12">
          <label><b>DESCRIPCIÓN: </b></label>
        </div>
        <div class="grid-8-12">
          <%= f.text_area(:descripcion)%>
        </div>
      </div>

      <div class="grid-6-12">
        <div class="grid-6-12">
          <label><b>OBSERVACIONES: </b></label>
        </div>
        <div class="grid-6-12">
          <%= f.text_area(:observaciones)%>
        </div>
      </div>

      <%@adjunto = @amparo.adjunto%>
      <%=render :partial => "home/archivoadjunto"%>
      

      <div class="grid-12-12 clear"></div>

      <div class="grid-form-login">
        <input class="right" type="submit" title="GUARDAR" value="GUARDAR" />
      </div>
 </fieldset>
<%end%>
</div>



<!-- Validaciones -->
<script type="text/javascript">
  var fecha = new LiveValidation( 'amparo_fecha', {onlyOnSubmit: true} );
  var accion = new LiveValidation( 'amparo_accion_amparo_id', {onlyOnSubmit: true} );
  fecha.add( Validate.Presence );
  accion.add( Validate.Presence );
</script>