<script type="text/javascript">
  $j(document).ready(function() { 
    $j('#participante_fechahora_captura').datetimepicker({
      dayOfWeekStart : 1,
      buttonImage: "/images/icons/calendar.gif",
      lang:'es'
    });
    
    $j('#participante_fechahora_libertad').datetimepicker({
      dayOfWeekStart : 1,
      buttonImage: "/images/icons/calendar.gif",
      lang:'es'
    });
    
    $j('#participante_fechahora_puesta_a_disposicion').datetimepicker({
      dayOfWeekStart : 1,
      buttonImage: "/images/icons/calendar.gif",
      lang:'es'
    });
  });
</script>



<div class="grid-6-12">
  <div class="grid-4-12">
    <label><b>CALIDAD: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-8-12">
    <%= select(:participante, :calidad_id, @calidads.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
  </div>
</div>

<div class="grid-6-12">
  <div class="grid-4-12">
    <label><b>ZONA/ENTORNO: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-8-12">
    <%= select(:participante, :entorno_id, @entornos.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
  </div>
</div>

<div class="grid-6-12">
  <div class="grid-6-12">
    <label><b>ESTADO CIVIL: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12">
    <%=select(:participante, :estado_civil_id, @edo_civil.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
  </div>
</div>

<div class="grid-6-12">
  <div class="grid-6-12">
    <label><b>OCUPACIÓN: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12"><%=text_field :participante, :ocupacion%></div>
</div>

<div class="grid-6-12">
  <div class="grid-6-12">
    <label><b>EDAD: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12"><%=text_field :participante, :edad%></div>
</div>

<div class="grid-6-12">
  <div class="grid-6-12">
    <label><b>FECHAHORA DE CAPTURA: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12"><%=text_field :participante, :fechahora_captura%></div>
</div>

<div class="grid-6-12">
  <div class="grid-6-12">
    <label><b>FECHAHORA DE PUESTA A DISPOSICIÓN: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12"><%=text_field :participante, :fechahora_puesta_a_disposicion%></div>
</div>

<div class="grid-6-12">
  <div class="grid-6-12">
    <label><b>FECHAHORA DE LIBERTAD: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12"><%=text_field :participante, :fechahora_libertad%></div>
</div>

<div class="grid-6-12">
  <div class="grid-8-12">
    <label><b>¿SE ENCUENTRA PRIVADO DE SU LIBERTAD?: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-4-12">
    <span class="InputGroup">
     <label class="uper">SI <%= radio_button :participante, :privado_libertad, "SI", :checked => @privado_libertad %></label>&nbsp;&nbsp;
     <label class="uper">NO <%= radio_button :participante, :privado_libertad, "NO", :checked => @privado_libertad == false %></label>
    </span>
  </div>
</div>

<div class="grid-6-12">
  <div class="grid-8-12">
    <label><b>¿SE ENCUENTRA LIBRE A TRAVES DE MEDIDA CAUTELAR?: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-4-12">
    <span class="InputGroup">
      <label class="uper">SI <%= radio_button :participante, :libre_atraves_medida_cautelar, "SI", :checked => @participante.libre_atraves_medida_cautelar %></label>&nbsp;&nbsp;
      <label class="uper">NO <%= radio_button :participante, :libre_atraves_medida_cautelar, "NO", :checked => @participante.libre_atraves_medida_cautelar == false %></label>
    </span>
  </div>
</div>


<div class="grid-6-12">
  <div class="grid-8-12">
    <label><b>¿SE ENCUENTRA LIBRE A TRAVES DE SUSPENSIÓN CONDICIONAL DEL PROCESO?: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-4-12">
    <span class="InputGroup">
      <label class="uper">SI <%= radio_button :participante, :libre_suspension_condicional_proceso, "SI", :checked => @participante.libre_suspension_condicional_proceso %></label>&nbsp;&nbsp;
      <label class="uper">NO <%= radio_button :participante, :libre_suspension_condicional_proceso, "NO", :checked => @participante.libre_suspension_condicional_proceso == false %></label>
    </span>
  </div>
</div>

<div class="grid-6-12">
  <div class="grid-4-12">
    <label><b>GRADO DE MARGINACIÓN: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-8-12">
    <%= select(:participante, :marginacion_id, @marginacions.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
  </div>
</div>

<div class="grid-6-12">
  <div class="grid-6-12">
  <label><b>ANTECEDENTES PENALES: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12"><%=text_field :participante, :antecedentes_penales_delito%></div>
</div>