<%=render :partial => "home/arbol"%>
<%=render :partial => "tramites/encabezado"%>

<% form_tag({:action => "search", :t => @tramite}, {:class => "search"}) do -%>
  <p>
    <%= text_field_tag :search, params[:search], :limit => 90, :placeholder => "Escriba el nombre del participante o su clave de elector" %>
    <%= submit_tag "Buscar", :name => nil %>
  </p>
<% end %>


<!-- contenido -->
<div id="divlista">
    <table width="90%" border="0" cellspacing="0" cellpadding="0" class="tablakolaval" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
    <tr>
       <th style="vertical-align: middle;">Tipo</th>
       <th style="vertical-align: middle;">Nombre completo</th>
       <th style="vertical-align: middle;" colspan="5">&nbsp;</th>
    </tr>
    <%@participantes.each do |p|%>
    <tr>
      <td style="vertical-align: middle;"><%=(p.tipo_participante) ? p.tipo_participante.descripcion : "--"%></td>
      <td style="vertical-align: middle;"><%=(p.persona) ? p.persona.nombre_completo : "--"%></td>
      
      <%if @participantes.size > 1%>
        <td style="vertical-align: middle;"><%=link_to "Parentescos", {:action => "relationships", :id =>p}, :class => 'boton'  -%></td>
      <%end%>

     <td style="vertical-align: middle;"><%=link_to "Detalle", {:action => "show", :p =>p.persona}, :class => 'boton'  -%></td>
     <td style="vertical-align: middle;"><%=link_to "Editar", {:action => "new_or_edit", :id => p}, :class => 'boton'  -%></td>
     <td style="vertical-align: middle;"><%=link_to "Histórico", {:action => "history", :id => p, :p =>p.persona}, :class => 'boton'  -%></td>
     <td style="vertical-align: middle;"><%=link_to "Documentos", {:action => "index", :controller => "upload", :p =>p}, :class => "boton fancybox fancybox.iframe"  -%></td>
     <td style="vertical-align: middle;"><%=link_to "Eliminar", {:action => "destroy", :id => p, :t => @tramite}, :confirm => '¿Desea eliminar el registro?', :class => 'boton'  -%></td>
    </tr>
    <%end%>
  </table>
</div>


<br /><%=link_to " + NUEVO PARTICIPANTE", {:action => "new_or_edit", :t => @tramite}, :class => 'boton'  -%>



