<%= javascript_include_tag "application" %>

<script type="text/javascript">
  enable_descripcion_delito();
</script>

<script type="text/javascript">
$j(document).ready(function() {

       $j('#participante_fecha_nac').datepicker({
          dayOfWeekStart : 1,
          buttonImage: "/images/icons/calendar.gif",
          lang:'es'
        });
});
</script>

<div class="grid-6-12">
  <div class="grid-6-12">
    <label><b>FECHA DE NACIMIENTO: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12">
    <span class="datetime">
      <%=date_select :participante, :fecha_nac, :order => [:day, :month, :year], :start_year => 1910%>
    </span>  
  </div>
</div>

<div class="grid-6-12">
  <div class="grid-6-12">
    <label><b>ESTADO CIVIL: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12">
    <%=select(:participante, :estado_civil_id, @edo_civil.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
  </div>
</div>

<div class="grid-6-12">
  <div class="grid-6-12">
    <label><b>GRADO DE ESTUDIOS: </b></label>
  </div>
  <div class="grid-6-12">
  <%=select(:participante, :escolaridad_id, @escolaridades.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
  </div>
</div>

<div class="grid-6-12">
  <div class="grid-6-12">
  <label><b>CÉDULA PROFESIONAL: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12"><%=text_field :participante, :cedula_profesional%></div>
</div>

<div class="grid-6-12">
  <div class="grid-6-12">
    <label><b>TIENE ALGÚN PADECIMIENTO: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12"><%=text_field :participante, :padecimiento_detalle%></div>
</div>

  <div class="grid-6-12">
        <div class="grid-4-12">
          <label><b>¿TIENE ANTECEDENTES PENALES?: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-8-12">
                  <span class="InputGroup" id="tiene_antecedentes">
                      <label class="uper">SI <%= radio_button :participante, :tiene_antecedentes_penales, "SI", :checked => @participante.tiene_antecedentes_penales, :onclick => "enable_descripcion_delito();" %></label>&nbsp;&nbsp;
                      <label class="uper">NO <%= radio_button :participante, :tiene_antecedentes_penales, "NO", :checked => @participante.tiene_antecedentes_penales == false, :onclick => "enable_descripcion_delito();"%></label>
                  </span>
       </div>
      </div>

    <div class="grid-6-12" id="descripcion_delito" style="display:none;">
      <div class="grid-6-12">
        <label><b>DELITO POR EL CUAL TIENE ANTECEDENTES PENALES: </b><em class="formee-req">*</em></label>
      </div>
      <div class="grid-6-12"><%=text_field :participante, :antecedentes_penales_delito%></div>
    </div>


<div class="grid-6-12">
  <div class="grid-6-12">
  <label><b>ESPECIALIDAD: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12"><%=text_field :participante, :especialidad%></div>
</div>



<script type="text/javascript">
  var fecha_nac = new LiveValidation( 'participante_fecha_nac' );
  fecha_nac.add( Validate.Presence );
  </script>



