<div class="grid-6-12">
  <div class="grid-6-12">
    <label><b>EDAD: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12"><%=text_field :participante, :fechahora_captura%></div>
</div>

<div class="grid-6-12">
  <div class="grid-6-12">
    <label><b>ESTADO CIVIL: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12">
    <%=select(:participante, :estado_civil_id, @edo_civil.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
  </div>
</div>

<div class="grid-6-12">
  <div class="grid-6-12">
    <label><b>OCUPACIÓN: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12"><%=text_field :participante, :fechahora_captura%></div>
</div>



<div class="grid-6-12">
  <div class="grid-6-12">
    <label><b>DOMICILIO: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12"><%=text_field :participante, :fechahora_captura%></div>
</div>

<div class="grid-6-12">
  <div class="grid-6-12">
    <label><b>TELÉFONO: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12"><%=text_field :participante, :fechahora_captura%></div>
</div>

<div class="grid-6-12">
  <div class="grid-6-12">
    <label><b>LUGAR DE TRABAJO: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12"><%=text_field :participante, :fechahora_captura%></div>
</div>

<div class="grid-6-12">
  <div class="grid-6-12">
  <label><b>ANTECEDENTES PENALES: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12"><%=text_field :participante, :fechahora_puesta_a_disposicion%></div>
</div>

<div class="grid-6-12">
  <div class="grid-6-12">
  <label><b>ALGUNA RELACIÓN CON LA VÍCTIMA: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12">
    <%=select(:participante, :relacion_victima_id, @relacion_victima.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
  </div>
</div>