
<div class="grid-6-12">
  <div class="grid-6-12">
    <label><b>ESTADO CIVIL: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12">
    <%=select(:participante, :estado_civil_id, @edo_civil.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
  </div>
</div>

<div class="grid-6-12">
  <div class="grid-6-12">
    <label><b>OCUPACIÓN: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12"><%=text_field :participante, :ocupacion%></div>
</div>

<div class="grid-6-12">
  <div class="grid-6-12">
    <label><b>GRADO DE ESTUDIOS: </b></label>
  </div>
  <div class="grid-6-12">
  <%=select(:participante, :escolaridad_id, @escolaridades.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
  </div>
</div>

<div class="grid-6-12">
  <div class="grid-6-12">
    <label><b>CUÁNTOS HIJOS TIENE: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12"><%=text_field :participante, :num_hijos%></div>
</div>

<div class="grid-6-12">
  <div class="grid-8-12">
    <label><b>¿TIENE ALGÚN PADECIMIENTO?: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-4-12">
    <span class="InputGroup" id="tiene_antecedentes">
      <label class="uper">SI <%= radio_button :participante, :tiene_padecimiento, "SI", :checked => @participante.tiene_padecimiento, :onclick => "enable_descripcion_padecimiento();" %></label>&nbsp;&nbsp;
      <label class="uper">NO <%= radio_button :participante, :tiene_padecimiento, "NO", :checked => @participante.tiene_padecimiento == false, :onclick => "enable_descripcion_padecimiento();"%></label>
    </span>
  </div>
</div>

<div class="grid-6-12" id="descripcion_padecimiento" style="display:none;">
  <div class="grid-6-12">
    <label><b>DESCRIPCIÓN DEL PADECIMIENTO: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-6-12"><%=text_field :participante, :padecimiento_detalle%></div>
</div>

<div class="grid-6-12">
  <div class="grid-8-12">
    <label><b>¿TIENE ANTECEDENTES PENALES?: </b><em class="formee-req">*</em></label>
  </div>
  <div class="grid-4-12">
    <span class="InputGroup" id="tiene_antecedentes">
      <label class="uper">SI <%= radio_button :participante, :tiene_antecedentes_penales, "SI", :checked => @participante.tiene_antecedentes_penales, :onclick => "enable_descripcion_delito();" %></label>&nbsp;&nbsp;
      <label class="uper">NO <%= radio_button :participante, :tiene_antecedentes_penales, "NO", :checked => @participante.tiene_antecedentes_penales == false, :onclick => "enable_descripcion_delito();"%></label>
    </span>
  </div>
</div>

  <div class="grid-6-12" id="descripcion_delito" style="display:none;">
    <div class="grid-6-12">
        <label><b>DELITO POR EL CUAL TIENE ANTECEDENTES PENALES: </b><em class="formee-req">*</em></label>
    </div>
    <div class="grid-6-12"><%=text_field :participante, :antecedentes_penales_delito%></div>
  </div>