<%=render :partial =>"home/arbol"%>

<%= error_messages_for :participante %>

<div class="container">
<% form_for :participante, @participante, :url => { :action => "save", :controller => "participantes", :id => @participante, :t => @tramite}, :html => {:class => "formee"} do |f| -%>
  <fieldset>
    <legend>&nbsp;REGISTRO&nbsp;DE&nbsp;PARTICIPANTES&nbsp;</legend>
      <div class="grid-12-12">
          <%= error_messages_for :participante %>
      </div>

      <div class="grid-8-12">
        <div class="grid-6-12">
          <label id="curp_busqueda"><b>CURP O NOMBRE COMPLETO: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-4-12"><%=  text_field :persona, :per_curp%></div>
        <div class="grid-2-12"><%= link_to image_tag("icons/actualizar.jpg", :size => "24x24", :border =>0) , {:action => "new_or_edit"}, :title => "Recargar"%></div>
      </div>

      <div class="grid-12-12"><img alt="spinner" id="spinner" src="/images/loading_spinner.gif" style="display:none;" /></div>


      <div id="datos_personales">
        <%if @participante%>
          <%= render :partial => "home/datos_personales"%>
        <%end%>
      </div>


      <div id="tipo_participante">
        <div class="grid-12-12">
        <div class="grid-4-12">
          <label><b>TIPO DE PARTICIPANTE: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-8-12">
          <%= f.select(:tipo_participante_id, @tipo_participantes.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
        </div>
       </div>
      </div>


    <div id="datos_especificos">
      <%if @participante.tipo_participante%>
         <%
            @tipo_participantes = TipoParticipante.all
            @edo_civil = Catalogo.estados_civiles.all 
            @escolaridades = Catalogo.escolaridades.all
            @calidads= Calidad.all
            @marginacions = Marginacion.all
            @entornos = Entorno.all
            #@particular = (@participante.particular) ? "SI" : "NO"
            @defensores = Defensor.find(:all, :conditions => "activo IS NOT NULL or activo !=0")
            @corporaciones_policiacas = CorporacionPoliciaca.all
            @municipios = Municipio.chiapas.all
          %>
         <%=render :partial => @participante.tipo_participante.default_partial, :layout => false%>
      <%end%>
     </div>

    <div class="grid-12-12">
      <div class="grid-4-12">
        <label><b>OBSERVACIONES: </b></label>
      </div>
      <div class="grid-8-12">
        <%= f.text_area(:observaciones)%>
      </div>
    </div>

    <div class="grid-12-12 clear"></div>
 
    <div class="grid-form-login">
      <input class="right" type="submit" title="GUARDAR" value="GUARDAR" />
    </div>    

 </fieldset>
<%end%>
</div>

<!-- Validaciones -->
<script type="text/javascript">
  var per_curp = new LiveValidation( 'persona_per_curp', {onlyOnSubmit: true} );
  var tipo_participante = new LiveValidation( 'participante_tipo_participante_id', {onlyOnSubmit: true} );
  per_curp.add( Validate.Presence );
  tipo_participante.add( Validate.Presence );
</script>


<%= observe_field 'persona_per_curp',
  :on => "change",
  :before => "Element.show('spinner')",
  :success => "Element.hide('spinner')",
  :url => {:action => 'get_datos_personales',
  :controller => 'home'},
  :update => 'datos_personales',
  :with => "persona_per_curp"%>

<%= observe_field 'participante_tipo_participante_id',
  :on => "change",
  :before => "Element.show('spinner')",
  :success => "Element.hide('spinner')",
  :url => {:action => 'get_campos_especificos',
  :controller => 'participantes'},
  :update => 'datos_especificos',
  :with => "tipo_participante"%>






