<%=render :partial => "home/arbol"%>

<div class="container">
<% form_for :recurso, @recurso, :url => { :action => "save", :controller => "recursos", :id => @recurso, :t => @tramite}, :html => {:class => "formee"} do |f| -%>
  <fieldset>
    <legend>&nbsp;REGISTRO&nbsp;DE&nbsp;RECURSOS&nbsp;</legend>
      <div class="grid-12-12">
          <%= error_messages_for :promocion %>
      </div>

      <div class="grid-6-12">
        <div class="grid-6-12">
          <label><b>FECHA: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-6-12">
          <%=f.text_field :fecha%>
        </div>
      </div>

      <div class="grid-6-12">
        <div class="grid-6-12">
          <label><b>TIPO DE RECURSO: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-6-12">
          <%= f.select(:tipo_recurso_id, @tiporecurso.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
        </div>
      </div>
     

    <div class="grid-6-12">
      <div class="grid-6-12">
        <label><b>¿ADMITIDO?: </b><em class="formee-req">*</em></label>
      </div>
      <div class="grid-4-12">
        <span class="InputGroup">
          <label class="uper">SI <%= f.radio_button :admitido, "SI", :checked => @admitido %></label>&nbsp;&nbsp;
          <label class="uper">NO <%= f.radio_button :admitido, "NO", :checked => @admitido == false %></label>
        </span>
      </div>
    </div>

      <div class="grid-6-12">
        <div class="grid-4-12">
          <label><b>DESCRIPCIÓN: </b></label>
        </div>
        <div class="grid-8-12">
          <%= f.text_area(:descripcion)%>
        </div>
      </div>

            
      <div class="grid-12-12 clear"></div>

      <div class="grid-form-login">
        <input class="right" type="submit" title="GUARDAR" value="GUARDAR" />
      </div>
 </fieldset>
<%end%>
</div>


<!-- Validaciones -->
<script type="text/javascript">
  var fecha = new LiveValidation( 'recurso_fecha', {onlyOnSubmit: true} );
  var tipo_recurso = new LiveValidation( 'recurso_tipo_recurso_id', {onlyOnSubmit: true} );
  fecha.add( Validate.Presence );
  tipo_recurso.add( Validate.Presence );
</script>