<%=render :partial => "home/arbol"%>

<% form_tag({:action => "search"}, {:class => "search"}) do -%>
  <p>
    <%= text_field_tag :search, params[:search], :limit => 90, :placeholder => "Escriba el nombre del defensor" %>
    <%= submit_tag "Buscar", :name => nil %>
  </p>
<% end %>



<!-- contenido -->
<div id="divlista">
    <table width="85%" border="0" cellspacing="0" cellpadding="0" class="tablakolaval" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
    <tr>
       <td style="vertical-align: middle;">Nombre completo</td>
       <td style="vertical-align: middle;">Municipio</td>
       <td style="vertical-align: middle;" colspan="4">&nbsp;</td>
    </tr>
    <%@defensores.each do |d|%>
    <tr>
      <td style="vertical-align: middle;"><%=(d.persona) ? d.persona.nombre_completo : "--"%></td>
     <td style="vertical-align: middle;"><%=(d.municipio) ? d.municipio.nombre : "--"%></td>
     <td style="vertical-align: middle;"><%=link_to "Ausencias", {:controller => 'ausencias', :p =>d.persona}, :class => 'boton'  -%></td>
     <td style="vertical-align: middle;"><%=link_to "Editar", {:action => "new_or_edit", :id => d}, :class => 'boton'  -%></td>
     <td style="vertical-align: middle;"><%=link_to "Eliminar", {:action => "destroy", :id => d}, :confirm => '¿Desea eliminar el registro?', :class => 'boton'  -%></td>
    </tr>
    <%end%>
  </table>
</div>

<br />
<table>
    <tr align="center" >
      <td colspan="5" style="padding: 0;">
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @defensores %>
          </div>
          <%= will_paginate @defensores %>
        </div>
      </td>
    </tr>
</table>


<br /><%=link_to "NUEVO DEFENSOR", {:action => "new_or_edit"}, :class => 'boton'  -%>



