<%=render :partial => "home/arbol"%>

<!-- contenido -->
<div id="divlista">
    <table width="85%" border="0" cellspacing="0" cellpadding="0" class="tablakolaval" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
    <tr>
       <td style="vertical-align: middle;">Fecha/hora atención</td>
       <td style="vertical-align: middle;">NUC</td>
       <td style="vertical-align: middle;">Carpeta de investigación</td>
       <td style="vertical-align: middle;">Causa Penal</td>
       <td style="vertical-align: middle;">Defensor</td>
       <td style="vertical-align: middle;" colspan="2">&nbsp;</td>
    </tr>
    <%@tramites.each do |t|%>
    <tr>
     <td style="vertical-align: middle;"> <%=(t.fechahora_atencion) ? t.fechahora_atencion.strftime("%d de %B de %Y") : ''%></td>
     <td style="vertical-align: middle;"><%=t.nuc%></td>
     <td style="vertical-align: middle;"><%=t.carpeta_investigacion%></td>
     <td style="vertical-align: middle;"><%=t.causa_penal%></td>
     <%if t.defensor_id.nil?%>
        <td style="vertical-align: middle;"><%=link_to "ASIGNAR DEFENSOR", {:action => "new_or_edit", :id => t}, :class => 'boton'  -%></td>
     <%else%>
        <td><%=h (t.defensor && t.defensor.persona)? t.defensor.persona.nombre_completo : "--"%></td>
     <%end%>
     <td style="vertical-align: middle;"><%=link_to "MENU", {:action => "menu", :id => t}, :class => 'boton'  -%></td>
     <td style="vertical-align: middle;"><%=link_to "DETALLE", {:action => "show", :id => t}, :class => 'boton'  -%></td>
     <td style="vertical-align: middle;"><%=link_to "ELIMINAR", {:action => "destroy", :id => t}, :confirm => '¿Desea eliminar el registro?', :class => 'boton'  -%></td>
    </tr>
    <%end%>
  </table>
</div>

<br />
<table>
    <tr align="center" >
      <td colspan="5" style="padding: 0;">
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @tramites %>
          </div>
          <%= will_paginate @tramites %>
        </div>
      </td>
    </tr>
</table>
