<%=render :partial => "home/arbol"%>
<%=render :partial => "tramites/encabezado"%>

<div class="formee  container">
  <fieldset>
    <legend>ETAPA&nbsp;DE&nbsp;INVESTIGACION&nbsp;INICIAL</legend>
      <%if current_user.has_role?(:defensor) || current_user.has_role?(:jefedefensor)%>
        <div class="grid-4-12">
          <%=link_to "QUERELLA", {:controller => "participantes", :action => "index", :t => @tramite}, :class => "boton"-%>
        </div>
        <div class="grid-4-12">
          <%=link_to "AUDIENCIA", {:controller => "audiencias_orales", :action => "index", :t => @tramite}, :class => "boton"-%>
        </div>
        <div class="grid-4-12">
          <%=link_to "3.- ETAPA INTERMEDIA", {:controller => "promociones", :action => "index", :t => @tramite}, :class => "boton"%>
        </div>
        <div class="grid-4-12">
          <%=link_to "4.- ETAPA DE JUICIO ORAL", {:controller => "amparos", :action => "index", :t => @tramite}, :class => "boton"-%>
        </div>
        <div class="grid-4-12">
          <%=link_to "5.- ETAPA DE EJECUCION DE SANCION", {:controller => "recursos", :action => "index", :t => @tramite}, :class => "boton"-%>
        </div>
    <%end%>
   </fieldset>
</div>
